html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background:url('../img/bg_html.jpg');
}
a{
	text-decoration: none;

}
.wrap{
	width: 885px;
	margin-right: auto;
	margin-left:auto;
}
.header{
	height: 81px;
	position: relative;
	margin: 20px;
	margin-top:20px; 
	margin-bottom: 20px;
}

.header h1{
	height: 81px;
	width: 171px;
	float: left;
}
.header h1 a{
	display: block;
	height: 81px;
	width: 171px;
	text-indent:-9999px;
	background: url('../img/logo.png');
}
.header ul{
	float: right;
}
.header li{
	float: left;
	margin-left: 10px;
}
.clear{
	clear: both;
}
.menu{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.menu li a{
	display: block;
	margin-left: 25px;
	color: #292929;
	font-size: 15px;
}
.menu li a:hover{
	color: #A8D5E1;
}
.slider{
	float: left;
}
.slider a{
	display: block;
}
.side_context {
	float: right;
	background:#292929;
	height: 365px;
	width: 200px;
	padding-left: 45px;
	padding-top: 50px;
	margin-bottom: 30px;

}
 h2{
	color: #00A5CA;
	font-size: 45px;
	margin-bottom: 10px;
}
.side_context p{
	color:grey;
	line-height: 25px;
	margin-bottom: 30px;
	padding-right: 15px;
}
.side_context a{
	display: block;
	background: #3F3F3F;
	font-size: 10px;
	color: white;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}
.side_context a:hover{
	color: #A8D5E1;
}
.main{
	background: white;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right:30px; 
	margin-bottom: 30px;

}
.main p{
	font-size: 18px;
	line-height: 25px;
}
.events{
	background: white;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right:30px; 
	float: left;
	width: 580px;
	margin-bottom: 50px;
}
.events h3{
	font-size: 25px;
	margin-bottom: 15px;
}
.events li{
	margin-bottom: 25px;
	float: left;
	
}
.events p{
	width: 350px;
	height: 150px;
	margin-left: 30px;
	float: left;
	line-height: 25px;
}
.events a {
	display: block;
}
.event a:hover{
	color: grey;
}
.Services_list{
	background: white;
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right:30px; 
	float: left;
	width: 185px;

}
.Services_list h3{
	font-size: 25px;
	margin-bottom: 15px;
}
.Services_list li{
	list-style-image:url("../img/dot_blue.gif");
	line-height: 20px;
	margin-bottom: 10px;
}
.Services_list a{
	color: black;
}
.Services_list a:hover{
	color: #A8D5E1;
	}
.find_us{
	background: white;
	padding-top: 20px;
	padding-left: 30px;
	
	padding-right:30px;
	float: left;
	width: 185px;
	height: 171px;
	margin-bottom: 50px;
}
.find_us h3{
	font-size: 25px;
	margin-bottom: 20px;

}
.find_us a{
	display: block;
	background: #F4F4F4;
	color: #00A5CA;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 30px;
}
.find_us a:hover{
	color: red;
}
.footer p{
	text-align: center;
	line-height: 30px;
}
.font_blue{
	color: #00A5CA;
}
.content{
	background: white;
	height: auto;
	overflow: hidden;
}

@media only screen and (max-width: 768px){

.wrap{
	width:100%;
	margin:10px 0 0 0;
}
.header h1{
	margin-left: 40%;
	margin-right: 40%;
	margin-bottom: 2%;
	height: 81px;
	width: 33%;
	float: none;
}
.social_nav {
	display: none;
}
.menu{
	position: relative;
	float: left;
}
.menu li{
	width:30%;
	margin-left: 3%;
	margin-bottom:2%;
	border-left:2px solid #A8D5E1;
}
.menu li a{
	display: block;
	width:100%;
	
	color: #292929;
	font-size: 25px;

}
.menu li a:hover{
	
	color: #A8D5E1;
}
.slider{
	width: 100%;
}
.slider img{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.side_context{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	padding-top: 10px;
	padding-left: 0px;
}
.side_context h2{
	margin-left: 10px;
}
.side_context p{
	padding-left: 15px;
	font-size: 20px;
}
.side_context a{
	float: right;
	margin-bottom: 10px;
	margin-right: 5%;
}
.main{
	width: 630px;
	margin-left: 5%;
	margin-right: 5%;
}
.content{
	width: 690px;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
	background: white;
	overflow: hidden;
}
.events li{
	float: left;
	width: auto;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;	
}
.events li p{
margin-left: 10px;
}
.events a{
	color:grey;
}
.events a:hover{
	background: #A8D5E1;
	color: #A8D5E1;
	
}

.Services_list{
	width: 40%;
	padding-bottom: 0px;
}
.find_us{
	width: 40%;
	padding-bottom: 0px;
}
}

@media only screen and (max-width: 320px){

.wrap{
	width:100%;
	margin:10px 0 0 0;
}
.header h1{
	width: 171px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	height: 81px;
	float: none;
}

.social_nav {
	display: none;
}
.menu{
	
}
.menu li{
	width: 280px;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:5%;
	border:2px solid #A8D5E1;

}
.menu  li a{
	display: block;
	width: 280px;
	text-align: center;
	padding-left: 0px;
	margin-left: 0px;
}
.slider {
	display: none;
}
.main{
	width: auto;
}

.content {
	width: auto;
	margin-bottom: 10px;
}
.events{
	width: auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.events li{
	float: none;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-right: 10px;
	margin-bottom: 0px;
	padding-bottom: 20px;	
}
.events li p{
	height: auto;
 	width: 100%;
	margin-left: 0px;
}
.Services_list{
	width: 100%;
}

.Services_list li{
 width: 200px;

}

.find_us{
	margin-bottom: 20px;
	width: 100%;
}
}